.diagram {
  padding: 1rem;
  border-radius: 12px;
  background-color: #828080;
  text-align: center;
  display: flex;
  justify-content: space-around;
  min-height: 10rem;
  margin-bottom: 1.25rem;
}
