.filter-form {
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin-bottom: 1.25rem;

  label,
  select,
  option {
    font-weight: 700;
    font-size: 1.125rem;
  }

  select {
    padding: 0.5rem 2.25rem;
    border: 1px solid rgba(97, 96, 96, 0.701);
    border-radius: 10px;
    color: #313030ec;
    cursor: pointer;
  }
}
